fastapi
uvicorn
alembic
python-multipart
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[argon2]
python-dotenv
pydantic
pydantic-settings
aiogram
apscheduler
pandas
openpyxl
pytz
httpx
uuid7
bcrypt
xlsxwriter
reportlab