fastapi
uvicorn[standard]
python-multipart
sqlalchemy
alembic
psycopg2-binary
python-jose[cryptography]
passlib
argon2-cffi
python-dotenv
pydantic
pydantic-settings
aiogram
apscheduler
pandas
openpyxl
pytz
httpx
uuid7
bcrypt
